<!-- <app-course></app-course> -->
<h1 cccardD>Hey, how you doing here.</h1>
<!-- <app-task></app-task> -->
<!-- <app-parent></app-parent> -->
<!-- <app-property>
    <h2 class="title">Title</h2>
    <div class="body">
            <img src="../assets/img/face1.jpg"/>
    </div>
</app-property> -->

<!-- <app-heart [count]="totalCount"></app-heart>
<app-storeuser></app-storeuser> -->
<!-- <app-user></app-user> -->
<!-- <app-template-form></app-template-form> -->

<app-reactiveform></app-reactiveform>